.env
chat_history.json
parsed_data/
embeddings/
.env
__pycache__/
token.pickle
credentials/


credentials/
token.pickle
token_drive.pickle
*.pkl
chat_history.json
embeddings/
__pycache__/
credentials.json
.streamlit/secrets.toml
chat_history.json
token.pickle
__pycache__/
